:host {
    height: 250px;
    width: 250px;

    padding: 50px;
}

.-app-tree-product {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow: hidden;

    transition: 0.3s;
    user-select: none;

    border: 3px solid white;
    border-radius: 50%;
    &:hover {
        & .-app-tree-product__title {
            top: -50%;
        }
        & .-app-tree-product__button {
            opacity: 1;
        }
        &::before {
            top: 0%;
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0%;

        width: 100%;
        height: 100%;

        transition: 0.2s;

        background-color: rgba(0, 0, 0, 0.8);
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.2);
    }
    &__title {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 80%;
        margin: 0px;

        transition: 0.2s;

        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
        font-size: 22px;
        text-align: center;
        letter-spacing: 1px;
    }
    &__image {
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-image: url("src/assets/images/tree-list/tree-product-image.jpg");
        background-size: cover;
    }
    &__button {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 170px;

        transition: 0.4s;
        cursor: pointer;
        opacity: 0;

        color: white;
        font-size: 18px;
        letter-spacing: 3px;
        &:hover {
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
            &::before {
                text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
            }
        }
        &::before {
            content: "\f30a";

            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(0%, -50%) rotate(180deg);

            transition: 0.6s;

            color: white;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
            font-size: 20px;
            font-weight: 900;
        }
    }
}
