$white: rgba(255, 255, 255, 1);
$whiteOpacity0-8: rgba(255, 255, 255, 0.8);
$black: rgba(0, 0, 0, 1);
$blackOpacity0-4: rgba(0, 0, 0, 0.4);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property; 
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

:host {
    width: 100%;
    height: 100vh;
}

@include keyframes(flyCycle) {
    100% {
        background-position: -900px 0;
    }
}

@include keyframes(flyRightOne) {
    0% {
        @include transform(scale(0.3) translateX(-10vw));
    }

    10% {
        @include transform(translateY(2vh) translateX(10vw) scale(0.4));
    }

    20% {
        @include transform(translateY(0vh) translateX(30vw) scale(0.5));
    }

    30% {
        @include transform(translateY(4vh) translateX(50vw) scale(0.6));
    }

    40% {
        @include transform(translateY(2vh) translateX(70vw) scale(0.6));
    }

    50% {
        @include transform(translateY(0vh) translateX(90vw) scale(0.6));
    }

    60% {
        @include transform(translateY(0vh) translateX(110vw) scale(0.6));
    }

    100% {
        @include transform(translateY(0vh) translateX(110vw) scale(0.6));
    }
}
.-app-trees {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-image: url('../../../../assets/images/tree-list/tree-list-menu-bg.jpg');
    background-size: cover;
    &__bird-container {
        position: absolute;
        z-index: 9999;
        top: 20%;
        left: -10%;
        @include transform(scale(0) translateX(-10vw));
        will-change: transform;

        &_first {
            @include animation('15s linear 0s infinite flyRightOne');
        }
        &_second {
            @include animation('17s linear 1s infinite flyRightOne');
        }
    }
    &__bird {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg");
        background-size: auto 100%;
        width: 88px;
        height: 125px;
        will-change: background-position;

        &_first {
            @include animation('1s steps(10) -0.5s infinite flyCycle');
        }
        &_second {
            @include animation('0.9s steps(10) -0.75s infinite flyCycle');
        }
    }
    &__title {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 30px;
        padding-left: 54px;

        border-radius: 10px;

        background-color: $whiteOpacity0-8;

        color: $black;
        user-select: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 24px;
        font-style: italic;
    }
    &__menu-list {
        width: 100%;
        height: 100%;
    }
    &__menu-item {
        position: absolute;
        z-index: 2;

        width: 200px;
        height: 200px;

        color: $white;
        &_native {
            top: 10%;
            left: 20%;
        }
        &_arboretum {
            top: 5%;
            right: 40%;
        }
        &_patio {
            top: 35%;
            right: 10%;
            @include transform(translate(0%, -50%));
        }
        &_evergreen {
            bottom: 5%;
            left: 40%;
        }
        &_potgrown {
            bottom: 10%;
            right: 20%;
        }
        &_shrubs {
            top: 70%;
            left: 10%;
            @include transform(translate(0%, -50%));
        }
    }
    &__item {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;

        cursor: pointer;
        &:hover {
            &::before, &::after {
                @include transform(translate(-50%, -50%) scale(1, 1));
            }
            & .-app-trees__item-title {
                top: 50%;
                @include opacity(1);
            }
            & .-app-trees__item-sub-title {
                bottom: 20%;
                @include opacity(1);
            }
            & .-app-trees__item-image {
                @include opacity(1);
            }
        }
        &::before {
            content: "";

            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%) scale(1, 0));

            width: 90%;
            height: 90%;

            @include  transition(0.2s);

            border-right: 1.5px solid $white;
            border-left: 1.5px solid $white;
        }
        &::after {
            content: "";

            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%) scale(0, 1));

            width: 91.5%;
            height: 90%;

            @include  transition(0.2s);

            border-top: 1.5px solid $white;
            border-bottom: 1.5px solid $white;
        }
        &-title,
        &-sub-title {
            position: absolute;
            z-index: 6;
            left: 50%;
            @include transform(translate(-50%, -50%));

            width: 100%;
            margin: 0;
            padding: 0px 20px;
            box-sizing: border-box;

            @include  transition(0.3s);
            @include opacity(0);

            text-shadow: 2px 2px 6px $black;
            text-align: center;
            letter-spacing: 1.5px;
            font-weight: 600;
        }
        &-title {
            top: 40%;

            font-size: 20px;
        }
        &-sub-title {
            bottom: 5%;

            font-size: 17px;
        }
        &-image {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            width: 100%;
            height: 100%;

            @include opacity(0.9);

            background-size: cover;
            &_native {
                background-image: url('../../../../assets/images/tree-list/tree-list-native-trees-bg.jpg');
            }
            &_arboretum {
                background-image: url('../../../../assets/images/tree-list/tree-list-arboretum-species-bg.jpg');
            }
            &_patio {
                background-image: url('../../../../assets/images/tree-list/tree-list-patio-fruit-trees-bg.jpg');
            }
            &_evergreen {
                background-image: url('../../../../assets/images/tree-list/tree-list-evergreen-trees-bg.jpg');
            }
            &_potgrown {
                background-image: url('../../../../assets/images/tree-list/tree-list-pot-grown-trees-bg.jpg');
            }
            &_shrubs {
                background-image: url('../../../../assets/images/tree-list/tree-list-shrubs-trees-bg.jpg');
            }
        }
    }
    &__design-block {
        position: absolute;
        z-index: 2;

        width: 300px;
        height: 300px;

        border: 2px solid $white;

        background-color: $blackOpacity0-4;
        &_upper-left-corner {
            top: 0%;
            left: 0%;
            @include transform(translate(-50%, -50%) rotate(45deg));
        }
        &_bottom-right-corner {
            bottom: 0%;
            right: 0%;
            @include transform(translate(50%, 50%) rotate(45deg));
        }
        &_upper-right-corner {
            top: 0%;
            right: 0%;
            @include transform(translate(50%, -50%) rotate(45deg));
        }
        &_bottom-left-corner {
            bottom: 0%;
            left: 0%;
            @include transform(translate(-50%, 50%) rotate(45deg));
        }
    }
    &__audio {
        display: none;
    }
    &__audio-button {
        position: absolute;
        top: 40%;
        left: 50%;
        @include transform(translate(-50%, 0%) scale(1,1));

        width: 60px;
        height: 60px;

        @include transition(0.3s);
        @include opacity(0.8);
        cursor: pointer;

        outline: none;
        border: none;
        border-radius: 50%;
        background: $whiteOpacity0-8;
        &:hover {
            @include opacity(1);
        }
        &:active {
            @include transform(translate(-50%, 0%) scale(1.1,1.1));
        }
        &_muted {
            &.-app-trees__audio-button::before {
                @include opacity(0);
            }
            &.-app-trees__audio-button::after {
                @include opacity(1);
            }
        }
        &::before {
            content: '\f6a9';

            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
    
            @include transition(0.3s);
            @include opacity(1);

            color: $black;
            font-size: 28px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
        &::after {
            content: '\f027';

            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
    
            @include transition(0.3s);
            @include opacity(0);
    
            color: $black;
            font-size: 28px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
    }
}
