:host {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.-app-country {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    color: white;
    letter-spacing: 2px;
    &-wrapper {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 80%;

        overflow: hidden;
    }
    &__current-country {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 100%;
    }
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 30%;

        border-bottom: 2px solid white;
        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 50%;
            height: 100%;
            &-title {
                margin: 0px;
                margin-bottom: 20px;

                text-align: center;
            }
            &-image {
                width: 200px;
                height: 100px;

                border: 2px solid white;
                border-radius: 5px;
            }
            &-capital {
                &-title,
                &-name,
                &-latitude,
                &-longitude {
                    margin: 10px;

                    text-align: center;
                }
            }
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        padding: 33px 0px;

        box-sizing: border-box;

        border-bottom: 2px solid white;

        font-size: 20px;
        &-title {
            padding-left: 75px;
        }
        &-info {
            padding-right: 75px;
        }
    }
    &__item,
    &__header {
        position: relative;

        &:hover {
            &::before {
                height: 70%;
            }
        }
        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 0.2s;

            width: 3px;
            height: 60%;

            background-color: white;
        }
    }
    &__button {
        &-container {
            position: relative;

            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 100%;
            height: 20%;
        }
        &_choose,
        &_unchoose {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 25px 80px;

            transition: 0.4s;
            cursor: pointer;
            user-select: none;

            outline: none;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
            border: 2px solid white;
            border-radius: 40px;

            background-color: rgba(0, 0, 0, 0.8);

            color: white;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 20px;
            &:hover {
                transform: translate(-51%, -51%);
                background-color: rgba(0, 0, 0, 0.9);
                box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.9);
            }
        }
        &_choose {
            z-index: 4;

            opacity: 1;
            &-invisible {
                z-index: -1;
                opacity: 0;
            }
        }
        &_unchoose {
            z-index: -1;

            opacity: 0;
            &-visible {
                z-index: 4;

                opacity: 1;
            }
        }
        &-slide {
            position: relative;

            width: 70px;
            height: 70px;

            transition: 0.2s;
            cursor: pointer;

            outline: none;
            border: none;
            background: none;

            &:active {
                &::before {
                    font-size: 50px;
                }
            }
            &[disabled] {
                cursor: default;

                opacity: 0.3;
            }
            &_left,
            &_right {
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    color: white;
                    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
                    font-size: 46px;
                    font-weight: 900;
                    font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                }
            }
            &_left {
                &::before {
                    content: "\f053";
                }
            }
            &_right {
                &::before {
                    content: "\f054";
                }
            }
        }
    }
}
