<div class="-app-user-profile-donation">
    <div class="-app-user-profile-donation__item">
        <div class="-app-user-profile-donation__item-title">
            tree name:            
        </div>
        <div class="-app-user-profile-donation__item-info">
            {{donation.treeDonation.tree.name}}
        </div>
    </div>
    <div class="-app-user-profile-donation__item">
        <div class="-app-user-profile-donation__item-title">
            tree type:            
        </div>
        <div class="-app-user-profile-donation__item-info">
            {{donation.treeDonation.tree.type}}
        </div>
    </div>
    <div class="-app-user-profile-donation__item">
        <div class="-app-user-profile-donation__item-title">
            tree number:            
        </div>
        <div class="-app-user-profile-donation__item-info">
            {{donation.treeDonation.amount}}
        </div>
    </div>
    <div class="-app-user-profile-donation__item">
        <div class="-app-user-profile-donation__item-title">
            cost:            
        </div>
        <div class="-app-user-profile-donation__item-info">
            {{donation.treeDonation.amount}}
        </div>
    </div>
    <div class="-app-user-profile-donation__item">
        <div class="-app-user-profile-donation__item-title">
            date:            
        </div>
        <div class="-app-user-profile-donation__item-info">
            {{donation.date | date}}
        </div>
    </div>
</div>