$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$screamingGreen: rgba(84, 255, 84, 1);

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property; 
    transform: $property;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
}

.-app-country {
    width: 100%;
    height: 100%;
    &__name {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 10px 20px;
        box-sizing: border-box;

        @include  transition(0.2s);
        cursor: pointer;
        
        outline: none;
        border: none;

        background-color: transparent;

        color: white;
        user-select: none;
        text-shadow: 2px 2px 4px $black;
        text-align: center;
        letter-spacing: 1.5px;
        font-size: 22px;
        font-weight: 600;
        &[disabled]{
            cursor: default;
        }
        &:hover {
            letter-spacing: 3.5px;
        }
        &::before {
            content: '';

            position: absolute;
            top: 100%;
            left: 50%;
            @include transform(translate(-50%, 20%));

            width: 0%;
            height: 2px;

            @include transition(0.3s);

            background-color: $white;
        }
        &_selected {
            &::before {
                width: 60%;
            }
        }
    }
}
