:host {
    width: 100%;
    min-height: 100vh;
}
.-app-donation-list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100vh;
    min-height: 100vh;

    padding: 100px;

    box-sizing: border-box;
    &::after {
        content: "";

        position: fixed;
        top: 0;
        left: 120px;
        z-index: -9999;

        width: 100%;
        height: 100vh;

        background-image: url("src/assets/images/donation-list/donation-list-bg.jpg");
        background-size: cover;
    }
    &__start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        color: white;
        &-title {
            margin: 0;

            text-transform: capitalize;
            letter-spacing: 4px;
            font-size: 32px;
            font-weight: 600;
        }
        &-sub-title {
            margin: 0;

            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 18px;
        }
        &-title,
        &-sub-title {
            margin: 20px;

            user-select: none;

            text-align: center;
        }
        &-button {
            width: 300px;

            margin: 0px 50px;
            margin-top: 20px;
            padding: 25px 0px;

            transition: 0.2s;
            cursor: pointer;

            outline: none;
            border: 2px solid white;
            border-radius: 45px;

            background-color: rgba(8, 37, 8, 0.95);

            color: white;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 600;
            &:hover {
                filter: brightness(1.4);
            }
        }
    }
}
