:host {
    position: relative;

    width: 100%;
    height: 100vh;
}

.-app-about {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    &__parallax {
        position: relative;

        height: 100%;
        &-item {
            position: fixed;
            bottom: 0%;
            left: 120px;

            width: 100%;

            transition: 3s;
            &_forest {
                height: 100%;

                background: url("src/assets/images/about/green-trees-bg.jpg") 0 0 / cover no-repeat;
            }
            &_desert-right {
                z-index: 1;

                height: 80%;

                perspective: 800px;
                perspective-origin: top right;
                transform-style: preserve-3d;
                transform: rotate(0deg, 10deg, 10deg);

                background: url("src/assets/images/about/desert-right-image.png") top right / 100% no-repeat;
                &-invisible {
                    transform: translate3d(100px, 50%, -100px);
                }
            }
            &_desert-left {
                z-index: 1;

                height: 70%;

                perspective: 800px;
                perspective-origin: bottom left;
                transform-style: preserve-3d;
                transform: rotate(0deg, 10deg, 10deg);

                background: url("src/assets/images/about/desert-left-image.png") left top / 45% no-repeat;
                &-invisible {
                    transform: translate3d(-100px, 50%, -200px);
                }
            }
        }
    }
    &__content {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 100%;

        background: url("src/assets/images/about/green-trees-bg.png") 0 0 / cover no-repeat;
        &-wrapper {
            max-width: 1200px;
        }
        &-header {
            margin-bottom: 20px;
            padding: 0px 20px;

            text-align: center;
            text-transform: uppercase;
        }
        &-title,
        &-sub-title {
            margin: 0px;
        }
        &-title {
            font-size: 100px;
        }
        &-sub-title {
            font-size: 50px;
        }
        &-article {
            padding: 25px;

            border-radius: 10px;

            background-color: rgba(255, 255, 255, 0.3);

            text-align: center;
            line-height: 24px;
            font-size: 18px;
            &-paragraph {
                margin-bottom: 20px;
            }
        }
    }
}
