:host {
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 100vh;
}

.-app-current-tree {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60%;

    padding: 200px;

    color: white;
    &-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        height: 100%;

        padding: 70px;

        box-sizing: border-box;

        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 10px;

        background-color: rgba(8, 37, 8, 0.95);
    }
    &__title-ribbon {
        position: absolute;
        top: 15px;
        left: 0px;

        width: 100%;

        padding: 8px 10px;

        box-sizing: border-box;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);

        background: white;
        &_left {
            &::before {
                content: "";

                position: absolute;
                top: 0;
                left: -9px;

                width: 7px;
                height: 100%;

                padding: 0 0 7px;

                border-right: 2px solid white;
                border-radius: 5px 0 0 5px;

                background: white;
            }
            &::after {
                content: "";

                position: absolute;
                bottom: -5px;
                left: -4.5px;

                width: 5px;
                height: 5px;

                border-radius: 5px 0 0 5px;

                background: rgba(0, 0, 0, 0.6);
            }
        }
        &_right {
            &::before {
                content: "";

                position: absolute;
                top: 0;
                right: -9px;

                width: 7px;
                height: 100%;

                padding: 0 0 7px;

                border-left: 2px solid white;
                border-radius: 0 5px 5px 0;

                background: white;
            }
            &::after {
                content: "";

                position: absolute;
                bottom: -5px;
                right: -4.5px;

                width: 5px;
                height: 5px;

                border-radius: 5px 0 0 5px;

                background: rgba(0, 0, 0, 0.6);
            }
        }
    }
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        margin: 0px;
        padding: 25px 0px;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        color: rgba(8, 37, 8, 0.95);
        letter-spacing: 3px;
        font-size: 28px;
    }
    &__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-top: 100px;
        padding-bottom: 20px;

        letter-spacing: 1px;
    }
    &__description-button,
    &__details-button {
        position: relative;

        display: block;

        padding: 10px 20px;

        cursor: pointer;
        user-select: none;

        overflow: hidden;

        font-weight: 600;
        :hover {
            filter: brightness(1.2);
        }
    }
    &__description-button {
        &::before {
            content: "";

            position: absolute;
            bottom: 0%;
            left: 100%;
            transform: translate(0%, 0%);

            transition: 0.4s;

            width: 100%;
            height: 2px;

            background-color: rgba(255, 255, 255, 1);
        }
        &_description-mode {
            &::before {
                content: "";

                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, 0%);

                width: 100%;
                height: 2px;

                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
    &__details-button {
        &::before {
            content: "";

            position: absolute;
            bottom: 0%;
            left: -100%;
            transform: translate(0%, 0%);

            transition: 0.4s;

            width: 100%;
            height: 2px;

            background-color: rgba(255, 255, 255, 1);
        }
        &_not-description-mode {
            &::before {
                content: "";

                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translate(-50%, 0%);

                width: 100%;
                height: 2px;

                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
    &__content-wrapper {
        position: relative;

        width: 100%;
        height: 60%;

        overflow: hidden;
    }
    &__description {
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        margin: 0;

        overflow: auto;

        transition: 0.4s;

        text-align: center;
        letter-spacing: 2px;
        font-size: 18px;
        &_not-description-mode {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }
    &__details {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 100%;

        transition: 0.4s;
        &_description-mode {
            position: absolute;
            top: 0%;
            left: 120%;
            transform: translate(0%, 0%);
        }
    }
    &__image {
        width: 200px;
        height: 200px;

        border: 2px solid rgba(255, 255, 255, 1);
    }
    &__feature-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        padding-left: 20px;

        font-size: 20px;
    }
    &__feature {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;

        padding: 10px 0px;

        text-align: right;
        &-title {
            padding-right: 20px;

            white-space: nowrap;
            text-align: left;
        }
    }
    &__cost-ribbon {
        position: absolute;

        bottom: -6.1px;
        right: 10%;
        &::after {
            content: "";

            position: absolute;
            right: 10px;
            bottom: 44px;

            width: 0;
            height: 0;

            border-left: 53px solid transparent;
            border-right: 53px solid transparent;
            border-bottom: 15px solid white;
        }
    }
    &__cost {
        position: absolute;
        bottom: -3px;
        right: 10px;

        display: block;

        width: 90px;
        padding: 12px 8px 16px;

        border-bottom-right-radius: 8px;

        background: white;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        color: rgba(8, 37, 8, 0.95);
        line-height: 1;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;
        &::before {
            content: "";

            position: absolute;
            bottom: 0px;
            left: -7.5px;

            width: 8px;
            height: 8px;

            border-bottom-left-radius: 4px;

            background: white;
        }
        &:after {
            content: "";

            position: absolute;
            bottom: -0.5px;
            left: -9px;

            width: 9px;
            height: 8px;

            border-radius: 0 0 8px 8px;

            background: rgba(0, 0, 0, 0.8);
        }
    }
    &__donate {
        position: relative;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 50px;

        margin-top: 20px;

        box-sizing: border-box;
        &-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 15px 50px;

            transition: 0.3s;
            cursor: pointer;
            user-select: none;

            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
            outline: none;
            border: 2px solid rgba(8, 37, 8, 1);
            border-radius: 15px;

            background-color: white;

            color: rgba(8, 37, 8, 0.95);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 600;
            &:active {
                transform: translate(-52%, -52%);

                box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);

                font-size: 21px;
            }
        }
    }
    &__button {
        position: relative;

        width: 40px;
        height: 40px;

        padding: 0px 10px;

        transition: 0.3s;
        cursor: pointer;
        user-select: none;

        outline: none;
        border: none;

        background: none;
        &:hover {
            filter: brightness(1.3);
        }
        &:active {
            &::before {
                font-size: 24px;
            }
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: white;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
            font-size: 22px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
        &.-app-current-tree__button[disabled] {
            opacity: 0.6;
        }
        &_plus {
            &::before {
                content: "\f067";
            }
        }
        &_minus {
            &::before {
                content: "\f068";
            }
        }
        &_remove {
            &::before {
                content: "\f1f8";
            }
        }
    }
    &__tree-number {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 35px;
        height: 35px;

        margin: 0px 10px;

        user-select: none;

        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
        border: 2px solid white;
        border-radius: 5px;

        background: rgba(8, 37, 8, 0.95);

        color: white;
        letter-spacing: 1px;
        font-size: 20px;
    }
}
