:host {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-image: url("src/assets/images/user-list/user-profile-bg.jpg");
    background-size: cover;
}

.-app-user-profile {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 60%;
    height: 75%;

    border: 2px solid #d2ffd0;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.8);
    color: #d2ffd0;
    &__image-container {
        position: absolute;
        z-index: 9000;
        left: 25%;
        top: 0%;
        transform: translate(-50%, -50%);

        width: 200px;
        height: 200px;

        cursor: pointer;
        overflow: hidden;

        border: 2px solid #d2ffd0;
        border-radius: 50%;
        &::before {
            content: "";

            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);

            transition: 0.2s;

            width: 0%;
            height: 0%;

            border-radius: 50%;

            background-color: rgba(0, 0, 0, 0.8);
        }
        &:hover {
            &::before {
                width: 100%;
                height: 100%;
            }
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "\f067";

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 0.4s;
            transition-delay: 0.1s;
            opacity: 0;

            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
            font-weight: 900;
            font-size: 30px;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        &_default {
            background-image: url("src/assets/images/user-list/default-user-profile-image.jpg");
            background-size: cover;
        }
    }
    &__info {
        &-list-wrapper {
            position: relative;

            width: 50%;
            height: 100%;

            overflow: hidden;
        }
        &-list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            width: 100%;
            height: 100%;

            transition: 0.3s;
            &_medical-mode {
                &.-app-user-profile__info-list {
                    left: 0%;
                    transform: translate(-100%, -50%);
                }
            }
            &-form {
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(0%, -50%);

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                height: 100%;
                transition: 0.3s;
                &_medical-mode {
                    &.-app-user-profile__info-list-form {
                        left: 0%;
                        transform: translate(0%, -50%);
                    }
                }
                &-warning {
                    position: absolute;
                    z-index: 9000;

                    width: 50px;
                    height: 50px;

                    transition: 0.3s;
                    opacity: 0;
                    cursor: pointer;

                    outline: none;
                    border: none;

                    background: none;

                    &_item,
                    &_message {
                        &-invalid {
                            opacity: 1;
                        }
                    }
                    &_item {
                        top: 50%;
                        right: 10%;
                        transform: translate(0%, -50%);
                    }
                    &_message {
                        top: 2.5%;
                        right: 5%;
                        transform: translate(0%, 0%);
                    }
                    &:hover {
                        filter: brightness(0.8);
                    }
                    &::before {
                        content: "\f12a";

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        color: #f8b2a6;
                        font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
                &-title {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;
                    padding: 20px 30px;
                    font-size: 28px;
                }
                &-button {
                    margin-bottom: 30px;
                    padding: 15px 50px;

                    transition: 0.2s;
                    cursor: pointer;

                    outline: none;
                    border: 2px solid #d2ffd0;

                    background: transparent;

                    color: #d2ffd0;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    font-size: 20px;
                    font-weight: 600;
                    &[disabled] {
                        opacity: 0.4;
                        cursor: default;
                        &:hover {
                            background: transparent;

                            color: #d2ffd0;
                        }
                    }
                    &:hover {
                        background-color: #d2ffd0;

                        color: black;
                    }
                }
                &-item {
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 80%;
                    height: 60px;
                    &-input {
                        z-index: 2;

                        width: 100%;
                        height: 100%;

                        padding: 0px 100px;

                        transition: 0.3s;
                        cursor: pointer;

                        outline: none;
                        border: none;

                        background: none;

                        color: #d2ffd0;
                        text-align: center;
                        letter-spacing: 1px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        &:focus {
                            & + .-app-user-profile__info-list-form-item-line {
                                width: 100%;
                            }
                        }
                    }
                    &-label {
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        width: 100%;

                        transition: 0.3s;
                        opacity: 1;

                        text-align: center;
                        letter-spacing: 1px;
                        font-weight: 600;
                        &_invisible {
                            opacity: 0;
                        }
                    }
                    &-line {
                        position: absolute;
                        bottom: 0%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        width: 80%;
                        height: 2px;

                        transition: 0.3s;

                        background-color: #d2ffd0;
                    }
                }
                &-message {
                    position: relative;

                    width: 80%;

                    margin: 30px 0px;
                    &-textarea {
                        width: 100%;
                        min-height: 300px;
                        max-height: 400px;

                        resize: vertical;
                        padding: 20px 60px;

                        box-sizing: border-box;

                        outline: none;
                        border: none;
                        border-bottom: 2px solid #d2ffd0;

                        background-color: transparent;

                        color: #d2ffd0;
                        text-align: center;
                        letter-spacing: 1px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        &::placeholder {
                            color: #d2ffd0;
                        }
                    }
                }
                &-back {
                    position: absolute;
                    z-index: 9000;
                    top: 5%;
                    right: 5%;
                    transform: translate(0%, 0%);

                    width: 50px;
                    height: 50px;

                    transition: 0.3s;
                    cursor: pointer;

                    outline: none;
                    border: none;

                    background: none;
                    &:hover {
                        filter: brightness(0.8);
                    }
                    &::before {
                        content: "\f00d";

                        position: absolute;
                        z-index: 9001;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        color: #d2ffd0;
                        font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
            }
            &-button {
                position: absolute;
                bottom: 5%;
                right: 5%;
                transform: translate(0%, 0%);

                width: 50px;
                height: 50px;

                transition: 0.3s;
                cursor: pointer;

                outline: none;
                border: none;

                background: none;
                &:hover {
                    filter: brightness(0.8);
                }
                &[disabled] {
                    opacity: 0.4;
                }
                &::before {
                    content: "\f469";

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    color: #d2ffd0;
                    font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        &-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 100%;

            padding: 0px 30px;
            padding-left: 60px;

            user-select: none;

            box-sizing: border-box;

            text-align: left;
            font-size: 24px;
            font-weight: 600;
        }
    }
    &__donation-list {
        position: relative;
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        width: 50%;
        height: 100%;

        transition: 0.3s;
        opacity: 1;
        user-select: none;

        box-sizing: border-box;

        border-right: 2px solid #d2ffd0;
        &_image-mode {
            opacity: 0;

            z-index: -1;
        }
        &-title {
            width: 100%;

            margin: 0px;
            padding: 20px 30px;
            padding-top: 120px;

            box-sizing: border-box;

            border-bottom: 2px solid #d2ffd0;

            color: #d2ffd0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 600;
            font-size: 20px;
        }
        &-wrapper {
            display: flex;
            flex-flow: column nowrap;

            overflow: auto;
        }
    }
    &__change {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 25%;
        transform: translate(-50%, 0%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        width: 50%;
        height: 100%;

        transition: 0.3s;
        opacity: 0;

        box-sizing: border-box;

        border-right: 2px solid #d2ffd0;

        background-color: transparent;
        &_image-mode {
            opacity: 1;
        }
        &-title {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 5px;

            padding-top: 120px;
            text-align: center;
        }
        &-image {
            width: 300px;
            height: 300px;

            margin: 20px 0px;

            border: 2px solid #d2ffd0;
        }
        &-title,
        &-image,
        &-switch-button,
        &-return-button,
        &-input,
        &-form,
        &-input-line {
            user-select: none;

            transition: 0.2s;
            opacity: 0;
            &_image-mode {
                transition-delay: 0.5s;
                opacity: 1;
            }
        }
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            width: 100%;
        }
        &-input {
            position: relative;

            width: 70%;
            height: 40px;

            margin: 10px;

            cursor: pointer;

            outline: none;
            border: none;

            background-color: transparent;

            color: white;
            font-size: 16px;
            &::placeholder {
                color: #d2ffd0;
            }
            &:focus {
                & + .-app-user-profile__change-input-line {
                    width: 85%;
                }
            }
            &-line {
                width: 75%;
                height: 2px;

                transition: 0.2s;

                background-color: #d2ffd0;
            }
        }
        &-switch-button {
            margin: 20px 0px;
            margin-top: 30px;
            padding: 15px 40px;

            cursor: pointer;

            outline: none;
            border: 2px solid #d2ffd0;
            border-radius: 30px;
            background-color: transparent;

            color: #d2ffd0;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        &-return-button {
            position: relative;

            width: 50px;
            height: 50px;

            cursor: pointer;

            outline: none;
            border: none;
            background-color: transparent;
            &::before {
                content: "\f2ea";

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                color: white;
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-size: 20px;
                font-weight: 900;
            }
        }
    }
    &__current-donation:not(:last-child) {
        border-bottom: 2px solid #d2ffd0;
    }
    &__start-donation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        transition: 0.3s;
        opacity: 1;

        color: #d2ffd0;
        text-align: center;
        letter-spacing: 1.5px;
        font-weight: 600;
        &_image-mode {
            opacity: 0;
        }
        &-title,
        &-sub-title {
            width: 100%;

            margin: 0px;

            box-sizing: border-box;
        }
        &-title {
            padding: 20px 30px;

            font-size: 22px;
        }
        &-sub-title {
            padding: 20px 20px;

            font-size: 16px;
        }
        &-button {
            margin: 20px;
            padding: 20px 65px;

            transition: 0.2s;
            cursor: pointer;

            outline: none;
            border: 2px solid #d2ffd0;
            border-radius: 35px;

            background: transparent;

            color: #d2ffd0;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
            &:hover {
                filter: brightness(1.3);
            }
        }
    }
}
