:host {
    display: block;
    width: 100%;
    height: 100vh;
}

@keyframes blinkMap {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}
.-app-country-map {
    position: relative;

    width: 100%;
    height: 100%;

    animation: 0.2s blinkMap forwards;
    &__chart {
        min-width: 100%;
        max-width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.9);
    }
    &__toggle {
        position: absolute;
        top: 2%;
        right: 5%;
        transform: translate(0%, 0%);

        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            transition: 0.3s;
            opacity: 1;

            color: white;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-size: 18px;
            &_left {
                padding-right: 10px;
            }
            &_right {
                padding-left: 10px;
            }
            &_globe-mode,
            &_map-mode {
                opacity: 0.4;
            }
        }
        &-button {
            position: relative;
            z-index: 9000;

            width: 60px;
            height: 25px;

            transition: 0.3s;
            cursor: pointer;

            outline: none;
            border: 2px solid white;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.9);
            &_globe-mode {
                &.-app-country-map__toggle-button::before {
                    left: 95%;
                    transform: translate(-100%, -50%);
                }
            }
            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(0%, -50%);

                transition: 0.3s;

                width: 20px;
                height: 20px;

                border-radius: 50%;
                background-color: rgba(135, 253, 135, 1);
            }
        }
    }
    &__show-capitals {
        position: absolute;
        top: 2%;
        left: 5%;
        transform: translate(0%, 0%);

        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            padding-left: 10px;

            transition: 0.3s;

            opacity: 0.4;

            color: white;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-size: 18px;
            &_capitals-mode {
                opacity: 1;
            }
        }
        &-button {
            position: relative;
            z-index: 9000;

            width: 25px;
            height: 25px;

            cursor: pointer;

            outline: none;
            border: 2px solid white;
            border-radius: 50%;

            background: transparent;
            &.-app-country-map__show-capitals-button_capitals-mode {
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 17px;
                height: 17px;

                transition: 0.3s;
                opacity: 0;

                border-radius: 50%;

                background-color: rgba(135, 253, 135, 1);
            }
        }
    }
    &__info {
        position: absolute;
        bottom: 5%;
        left: 5%;

        width: 500px;

        &-title {
            width: 100%;

            padding: 30px 80px;

            transition: 0.3s;

            box-sizing: border-box;

            border: 2px solid rgba(135, 253, 135, 0.8);
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.7);

            color: white;
            text-align: center;
            line-height: 1.2;
            letter-spacing: 1.5px;
            font-size: 17px;
            font-weight: 600;
            &_info-mode {
                display: none;
            }
        }
        &_info-mode {
            width: 50px;
            height: 50px;
        }
        &-button {
            position: absolute;
            top: 5%;
            right: 5%;

            width: 50px;
            height: 50px;

            transition: 0.3s;
            cursor: pointer;

            outline: none;
            border: none;
            background: none;
            &_info-mode {
                &.-app-country-map__info-button::before {
                    content: "\f05a";
                    font-weight: 900;
                }
            }
            &::before {
                content: "\f057";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                color: rgba(135, 253, 135, 0.8);
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-size: 24px;
            }
        }
    }
}
