<div class="-app-contacts">
    <div class="-app-contacts__header-wrapper">
        <div class="-app-contacts__header">
            <form 
                class="-app-contacts__form"
                [formGroup]="myFormContact"
                (ngSubmit)="contact()"
                action="mailto:egor.samuilenok@gmail.com" 
                enctype="text/plain"
                method="post">
                <h2 class="-app-contacts__form-title">
                    Contact us
                </h2>
                <div class="-app-contacts__form-item">
                    <input 
                        class="-app-contacts__form-item-input"
                        name="name"
                        type="text"
                        formControlName="userName"
                        autocomplete="off"
                        formaction="mailto:egor.samuilenok@gmail.com"
                        method="post">
                    <span 
                        class="-app-contacts__form-item-line"
                        [class.-app-contacts__form-item-line_valid]="myFormContact.controls['userName'].touched
                            && myFormContact.controls['userName'].valid">
                    </span>
                    <label 
                        class="-app-contacts__form-item-label"
                        [class.-app-contacts__form-item-label_invisible]="myFormContact.controls['userName'].dirty">
                        Name
                    </label>
                    <span 
                        class="-app-contacts__form-item-warning"
                        [class.-app-contacts__form-item-warning_invalid]="myFormContact.controls['userName'].touched
                            && myFormContact.controls['userName'].invalid"
                        title="Invalid value. Maximum number of characters from 3 to 12
                        and without any characters and numbers">
                    </span>
                    <span 
                        class="-app-contacts__form-item-check"
                        [class.-app-contacts__form-item-check_valid]="myFormContact.controls['userName'].touched
                            && myFormContact.controls['userName'].valid">
                    </span>
                </div>
                <div class="-app-contacts__form-item">
                    <input 
                        class="-app-contacts__form-item-input"
                        name="email"
                        type="email"
                        formControlName="userEmail"
                        formaction="mailto:egor.samuilenok@gmail.com"
                        method="post">
                    <span 
                        class="-app-contacts__form-item-line"
                        [class.-app-contacts__form-item-line_valid]="myFormContact.controls['userEmail'].touched
                            && myFormContact.controls['userEmail'].valid">
                    </span>
                    <label 
                        class="-app-contacts__form-item-label"
                        [class.-app-contacts__form-item-label_invisible]="myFormContact.controls['userEmail'].dirty">
                        Email
                    </label>
                    <span 
                        class="-app-contacts__form-item-warning"
                        [class.-app-contacts__form-item-warning_invalid]="myFormContact.controls['userEmail'].touched
                            && myFormContact.controls['userEmail'].invalid"
                        title="Invalid value. Example: egor@g.c">
                    </span>
                    <span 
                        class="-app-contacts__form-item-check"
                        [class.-app-contacts__form-item-check_valid]="myFormContact.controls['userEmail'].touched
                            && myFormContact.controls['userEmail'].valid">
                    </span>
                </div>
                <div class="-app-contacts__form-item -app-contacts__form-item_textarea">
                    <textarea 
                        class="-app-contacts__form-item-textarea"
                        name="message"
                        formControlName="userMessage"
                        autocomplete="off"
                        formaction="mailto:egor.samuilenok@gmail.com"
                        method="post">
                    </textarea>
                    <label 
                        class="-app-contacts__form-item-label -app-contacts__form-item-label_textarea"
                        [class.-app-contacts__form-item-label_invisible]="myFormContact.controls['userMessage'].dirty">
                        Message
                    </label>
                    <span 
                        class="-app-contacts__form-item-warning -app-contacts__form-item-warning_textarea"
                        [class.-app-contacts__form-item-warning_invalid]="myFormContact.controls['userMessage'].touched
                            && myFormContact.controls['userMessage'].invalid"
                        title="Enter any message">
                    </span>
                    <span 
                        class="-app-contacts__form-item-check -app-contacts__form-item-check_textarea"
                        [class.-app-contacts__form-item-check_valid]="myFormContact.controls['userMessage'].touched
                            && myFormContact.controls['userMessage'].valid">
                    </span>
                </div>
                <button 
                    class="-app-contacts__form-button"
                    type="submit"
                    [disabled]="myFormContact.controls['userName'].invalid 
                        || myFormContact.controls['userEmail'].invalid
                        || myFormContact.controls['userMessage'].invalid">
                    Contact
                </button>
            </form>
            <div class="-app-contacts__menu">
                <a 
                    class="-app-contacts__menu-link"
                    routerLink="/home">
                    Project: save our planet project
                </a>
                <a 
                    class="-app-contacts__menu-link"
                    href="mailto:egor.samuilenok@gmail.com">
                    Email: egor@samuilenok.com
                </a>
                <a 
                    class="-app-contacts__menu-link"
                    href="tel:+375447860634">
                    Tel: +375-44-786-06-34
                </a>
            </div>
        </div>
    </div>
    <div class="-app-contacts__link-bar">
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_vk"
            href="https://vk.com/id182133074"
            target="_blank">
        </a>
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_telegram"
            href="https://t.me/EgorSamuilenok"
            target="_blank">
        </a>
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_instagram"
            href="https://www.instagram.com/ochen_prostoi_chelovek/"
            target="_blank">
        </a>
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_linkedin"
            href="https://www.linkedin.com/in/egor-samuilenok-648b6a1b1/"
            target="_blank">
        </a>
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_twitter"
            href="https://twitter.com/Egor73193510"
            target="_blank">
        </a>
        <a 
            class="-app-contacts__bar-link -app-contacts__bar-link_facebook"
            href="https://www.facebook.com/profile.php?id=100053059608987"
            target="_blank">
        </a>
    </div>
</div>
