$white: rgba(255, 255, 255, 1);
$blackOpacity0-8: rgba(0, 0, 0, 0.8);
$blackOpacity0-6: rgba(0, 0, 0, 0.6);
$blackOpacity0-2: rgba(0, 0, 0, 0.2);
$dustyBlue: rgba(176, 223, 230, 1);
$skyBlue: rgba(245, 254, 255, 1);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property; 
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframes(fromBottomToTopLetter) {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 45%;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

:host {
    position: relative;

    width: 100%;
    height: 100vh;
    &::before {
        content: "";

        position: absolute;
        z-index: 1;
        bottom: 0%;
        left: 0%;

        width: 100%;
        height: 100%;

        background-image: url('../../../assets/images/not-found-page/not-found-page-bg.png');
        background-position: center;
        background-size: cover;
    }
}

.-app-not-found {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    color: $skyBlue;
    &__title {
        z-index: -1;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 100%;
        height: 60%;

        background: linear-gradient(180deg, $dustyBlue, $white);
        &-letter-wrapper {
            position: relative;

            height: 100%;
            width: 150px;
            padding: 0px 10px;

            text-shadow: 8px 8px 5px $blackOpacity0-2, 0px 0px 10px $blackOpacity0-6;
            font-size: 250px;
            font-weight: 600;
        }
        &-letter {
            position: absolute;
            bottom: 0%;
            left: 50%;
            @include transform(translate(-50%, 0%));
            &_left {
                @include animation('2s ease-out fromBottomToTopLetter 1s infinite alternate');
            }
            &_middle {
                @include animation('2s ease-out fromBottomToTopLetter 1.3s infinite alternate');
            }
            &_right {
                @include animation('2s ease-out fromBottomToTopLetter 0.7s infinite alternate');
            }
        }
    }
    &__info {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        &-sub-title {
            width: 100%;
            padding-bottom: 20px;

            text-shadow: 2px 2px 4px $blackOpacity0-6;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            font-size: 28px;
            font-weight: 600;
        }
        &-button {
            padding: 20px 60px;

            @include  transition(0.3s);
            cursor: pointer;

            outline: none;
            border: 2px solid $skyBlue;
            border-radius: 10px;

            background: transparent;

            color: $skyBlue;
            text-shadow: 2px 2px 4px $blackOpacity0-6;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 20px;
            font-weight: 600;
            &:hover {
                background-color: $skyBlue;

                color: $blackOpacity0-8;
            }
        }
    }
}
