$white: rgba(255, 255, 255, 1);
$whiteOpacity0-8: rgba(255, 255, 255, 0.6);
$black: rgba(0, 0, 0, 1);
$blackOpacity0-8: rgba(0, 0, 0, 0.8);
$blackOpacity0-6: rgba(0, 0, 0, 0.6);
$blackOpacity0-2: rgba(0, 0, 0, 0.2);
$lime: rgba(47, 255, 47, 1);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

:host {
    height: 250px;
    width: 250px;
    padding: 50px 0px;
}

.-app-tree-product {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    overflow: hidden;

    @include transition(0.3s);
    cursor: pointer;

    border: 3px solid $white;
    border-radius: 50%;

    user-select: none;
    &_selected {
        box-shadow: 0px 0px 10px $black;
        border: 3px solid $lime;
    }
    &:hover {
        & .-app-tree-product__title {
            top: -50%;
        }
        & .-app-tree-product__button {
            @include opacity(1);
        }
        & .-app-tree-product__sub-title {
            @include opacity(1);
        }
        &::before {
            top: 0%;
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0%;

        width: 100%;
        height: 100%;

        @include transition(0.2s);

        background-color: $blackOpacity0-8;
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $blackOpacity0-2;
    }
    &__title {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        width: 80%;
        margin: 0px;

        @include transition(0.2s);

        color: $white;
        text-shadow: 2px 2px 6px $black;
        text-align: center;
        letter-spacing: 1px;
        font-size: 22px;
    }
    &__image {
        position: absolute;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-image: url('../../../../assets/images/tree-list/tree-product-image.jpg');
        background-size: cover;
    }
    &__sub-title {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        width: 170px;

        @include transition(0.4s);
        @include opacity(0);

        color: $white;
        text-shadow: 0px 0px 4px $blackOpacity0-6;
        letter-spacing: 3px;
        font-size: 18px;
        font-weight: 700;
        &:hover {
            filter: brightness(1.3);
            &::before {
                filter: brightness(1.3);
            }
        }
        &::before {
            content: "\f30a";

            position: absolute;
            top: 50%;
            left: 90%;
            @include transform(translate(0%, -50%) rotate(180deg));

            @include transition(0.6s);

            color: $white;
            text-shadow: 0px 0px 4px $blackOpacity0-6;
            font-size: 20px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
    }
}
