:host {
    width: 100%;
    height: 100vh;
}
@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}
.-app-trees {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;

    overflow: hidden;
    
    background-image: url('src/assets/images/tree-list/tree-list-menu-bg.jpg');
    background-size: cover;
    &__bird-container {
        position: absolute;
        z-index: 9999;
        top: 20%;
        left: -10%;
        transform: scale(0) translateX(-10vw);
        will-change: transform;

        animation-name: fly-right-one;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &_first {
            animation-duration: 15s;
            animation-delay: 0;
        }
        &_second {
            animation-duration: 16s;
            animation-delay: 1s;
        }
    }
    &__bird {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg');
        background-size: auto 100%;
        width: 88px;
        height: 125px;
        will-change: background-position;

        animation-name: fly-cycle;
        animation-timing-function: steps(10);
        animation-iteration-count: infinite;
        &_first {
            animation-duration: 1s;
            animation-delay: -0.5s;
        }
        &_second {
            animation-duration: 0.9s;
            animation-delay: -0.75s;
        }
    }
    &__title {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10px 30px;
        padding-left: 54px;

        user-select: none;

        border-radius: 10px;

        background-color: rgba(255,255,255,0.8);
        
        text-transform: uppercase;
        font-style: italic;
        color: black;
        letter-spacing: 24px;
    }
    &__menu-list {
        width: 100%;
        height: 100%;
    }
    &__menu-item {
        position: absolute;
        z-index: 2;

        width: 200px;
        height: 200px;

        color: white;
        &_native {
            top: 10%;
            left: 20%;
        }
        &_arboretum {
            top: 5%;
            right: 40%;
        }
        &_patio {
            top: 35%;
            right: 10%;
            transform: translate(0%, -50%);
        }
        &_evergreen {
            bottom: 5%;
            left: 40%;
        }
        &_potgrown {
            bottom: 10%;
            right: 20%;
        }
        &_shrubs {
            top: 70%;
            left: 10%;
            transform: translate(0%, -50%);
        }
    }
    &__item {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 15px;

        cursor: pointer;

        box-sizing: border-box;
        &:hover {
            &::before {
                transform: translate(-50%, -50%) scale(1, 1);
            }
            &::after {
                transform: translate(-50%, -50%) scale(1, 1);
            }
            & .-app-trees__item-title {
                top: 50%;
                opacity: 1;
            }
            & .-app-trees__item-sub-title {
                bottom: 20%;
                opacity: 1;
            }
            & .-app-trees__item-image {
                opacity: 1;
            }
        }
        &::before {
            content: "";

            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1, 0);

            width: 90%;
            height: 90%;

            transition: .2s;

            border-right: 1.5px solid white;
            border-left: 1.5px solid white;
        }
        &::after {
            content: "";

            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0, 1);

            width: 91.5%;
            height: 90%;

            transition: .2s;

            border-top: 1.5px solid white;
            border-bottom: 1.5px solid white;
        }
        &-title, &-sub-title {
            position: absolute;
            z-index: 6;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;

            margin: 0;
            padding: 0px 20px;

            box-sizing: border-box;

            transition: .3s;
            opacity: 0;

            text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
            text-align: center;
            letter-spacing: 1.5px;
            font-weight: 600;
        }
        &-title {
            top: 40%;
        }
        &-sub-title {
            bottom: 5%;
        }
        &-image {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;
            height: 100%;

            opacity: 0.9;

            background-size: cover;
            &_native {
                background-image: url('src/assets/images/tree-list/tree-list-native-trees-bg.jpg');
            }
            &_arboretum {
                background-image: url('src/assets/images/tree-list/tree-list-arboretum-species-bg.jpg');
            }
            &_patio {
                background-image: url('src/assets/images/tree-list/tree-list-patio-fruit-trees-bg.jpg');
            }
            &_evergreen {
                background-image: url('src/assets/images/tree-list/tree-list-evergreen-bg.jpg');
            }
            &_potgrown {
                background-image: url('src/assets/images/tree-list/tree-list-pot-grown-trees-bg.jpg');
            }
            &_shrubs {
                background-image: url('src/assets/images/tree-list/tree-list-shrubs-bg.jpg');
            }
        }
    }
    &__design-block {
        position: absolute;
        z-index: 2;

        width: 300px;
        height: 300px;

        border: 2px solid white;

        background-color: rgba(0, 0, 0, 0.4);
        &_upper-left-corner {
            top: 0%;
            left: 0%;
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &_bottom-right-corner {
            bottom: 0%;
            right: 0%;
            transform: translate(50%,50%) rotate(45deg);
        }
        &_upper-right-corner {
            top: 0%;
            right: 0%;
            transform: translate(50%,-50%) rotate(45deg);
        }
        &_bottom-left-corner {
            bottom: 0%;
            left: 0%;
            transform: translate(-50%,50%) rotate(45deg);
        }
    }
}
