<div class="-app-trees">
    <div class="-app-trees__design-block -app-trees__design-block_upper-left-corner"></div>
    <div class="-app-trees__design-block -app-trees__design-block_bottom-right-corner"></div>
    <div class="-app-trees__design-block -app-trees__design-block_upper-right-corner"></div>
    <div class="-app-trees__design-block -app-trees__design-block_bottom-left-corner"></div>
    <div class="-app-trees__bird-container -app-trees__bird-container_first">
        <div class="-app-trees__bird -app-trees__bird_first"></div>
    </div>
    <div class="-app-trees__bird-container -app-trees__bird-container_second">
        <div class="-app-trees__bird -app-trees__bird_second"></div>
    </div>
    <h1 class="-app-trees__title">Save Our Planet</h1>
    <div class="-app-trees__menu-list">
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_native" 
            (click)="switchRouter(native)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #native>Native Trees</h3>
                <img class="-app-trees__item-image -app-trees__item-image_native">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_arboretum" 
            (click)="switchRouter(arboretum)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #arboretum>Arboretum Species</h3>
                <img class="-app-trees__item-image -app-trees__item-image_arboretum">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_patio"
            (click)="switchRouter(patio)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #patio>Patio Fruit Trees</h3>
                <img class="-app-trees__item-image -app-trees__item-image_patio">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_evergreen"
            (click)="switchRouter(evergreen)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #evergreen>Evergreen</h3>
                <img class="-app-trees__item-image -app-trees__item-image_evergreen">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_potgrown"
            (click)="switchRouter(potgrown)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #potgrown>Pot Grown Trees</h3>
                <img class="-app-trees__item-image -app-trees__item-image_potgrown">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
        <div 
            class="-app-trees__menu-item -app-trees__menu-item_shrubs"
            (click)="switchRouter(shrubs)">
            <div class="-app-trees__item">
                <h3 
                    class="-app-trees__item-title" 
                    #shrubs>Shrubs</h3>
                <img class="-app-trees__item-image -app-trees__item-image_shrubs">
                <h4 class="-app-trees__item-sub-title">View Products</h4>
            </div>
        </div>
    </div>
</div>