<div class="-app-statistic">
    <div class="-app-statistic__header">
        <div class="-app-statistic__header-menu">
            <div class="-app-statistic__sort">
                <button 
                    class="-app-statistic__sort-button -app-statistic__sort-button_top"
                    (click)="sortTop()"
                    title="by increase"
                    [class.-app-statistic__sort-button_top-active]="statisticDataIsSortedByIncrease"
                    [disabled]="statisticDataIsSortedByIncrease">
                </button>
                <button 
                    class="-app-statistic__sort-button -app-statistic__sort-button_bottom"
                    (click)="sortBottom()"
                    title="by decrease"
                    [class.-app-statistic__sort-button_bottom-active]="statisticDataIsSortedByDecrease"
                    [disabled]="statisticDataIsSortedByDecrease">
                </button>
            </div>
            <button
                class="-app-statistic__header-button -app-statistic__header-button_by-tree" 
                (click)="switchStatisticRouter(byTreeLink)"
                title="by tree"
                [class.-app-statistic__header-button_by-tree-active]="isInitedStatisticDataByTree"
                [disabled]="isInitedStatisticDataByTree"
                #byTreeLink>
            </button>
            <div class="-app-statistic__header-title">
                {{ statisticSubCategory }}
            </div>
            <button 
                class="-app-statistic__header-button -app-statistic__header-button_by-cost" 
                (click)="switchStatisticRouter(byCostLink)"
                title="by cost"
                [class.-app-statistic__header-button_by-cost-active]="isInitedStatisticDataByCost"
                [disabled]="isInitedStatisticDataByCost"
                #byCostLink>
            </button>
        </div>
        <div class="-app-statistic__header-menu">
            <button 
                class="-app-statistic__header-menu-button"
                (click)="switchStatisticRouter(byCostLink, all)"
                [class.-app-statistic__header-menu-button_active]="isInitedAllDataStatistic"
                [disabled]="isInitedAllDataStatistic"
                #all>
                all
            </button>
            <button 
                class="-app-statistic__header-menu-button"
                (click)="switchStatisticRouter(byCostLink, topTen)"
                [class.-app-statistic__header-menu-button_active]="isInitedTopTenDataStatistic"
                [disabled]="isInitedTopTenDataStatistic"
                #topTen>
                top-10
            </button>
        </div>
    </div>
    <div class="-app-statistic__chart">
    </div>
</div>
