$white: rgba(255, 255, 255, 1);
$blackOpacity0-9: rgba(0, 0, 0, 0.9);
$blackOpacity0-8: rgba(0, 0, 0, 0.8);
$blackOpacity0-6: rgba(0, 0, 0, 0.6);
$blue: rgba(71, 141, 174, 1);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

:host {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 100vh;

    background-color: $white;
}

.-app-statistic {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 15%;
        padding: 0px 20px;
        box-sizing: border-box;
        &-menu {
            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 50%;
            height: 100%;
            &-button {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 200px;
                padding: 20px 40px;

                @include transition(0.3s);
                cursor: pointer;

                outline: none;
                border: none;

                background: none;

                color: $white;
                text-shadow: 2px 2px 6px $blackOpacity0-8;
                letter-spacing: 2px;
                font-weight: 600;
                font-size: 34px;
                &[disabled] {
                    cursor: default;
                }
                &::before {
                    content: "";

                    position: absolute;
                    bottom: 0%;

                    @include transition(0.3s);

                    width: 100%;
                    height: 3px;

                    background-color: $blackOpacity0-9;
                }
                &_active {
                    &::before {
                        background-color: $blue;
                    }
                }
            }
        }
        &-title {
            padding: 0px 20px;

            color: $white;
            text-shadow: 3px 3px 6px $blackOpacity0-6;
            text-transform: capitalize;
            text-align: center;
            letter-spacing: 5px;
            font-size: 34px;
            font-weight: 900;
        }
        &-button {
            position: relative;

            width: 50px;
            height: 50px;

            @include transition(0.2s);
            cursor: pointer;

            outline: none;
            border: none;
            background: none;
            &[disabled] {
                cursor: default;
            }
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));

                @include transition(0.3s);

                color: $blackOpacity0-9;
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-weight: 900;
                font-size: 40px;
            }
            &:hover {
                &::before {
                    filter: brightness(1.5);
                }
            }
            &_by-cost {
                &::before {
                    content: "\f155";
                }
            }
            &_by-tree {
                &::before {
                    content: "\f1bb";
                }
            }
            &_by-cost,
            &_by-tree {
                &-active {
                    &:hover {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                    &::before {
                        color: $blue;
                    }
                }
            }
        }
    }
    &__sort {
        position: relative;

        width: 30px;
        height: 120px;
        &-button {
            position: absolute;

            width: 30px;
            height: 30px;
            padding: 0px;

            @include transition(0.2s);
            cursor: pointer;

            outline: none;
            border: none;
            background: none;
            &[disabled] {
                cursor: default;
            }
            &:hover {
                &::before {
                    filter: brightness(1.3);
                }
            }
            &::before {
                content: "";

                position: absolute;
                left: 50%;
                @include transform(translate(-50%, -50%));

                @include transition(0.3s);

                border-radius: 7px;
            }
            &_top {
                top: 20%;
                &.-app-statistic__sort-button_top-active {
                    &:hover {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                    &::before {
                        border: 13px solid transparent;
                        border-bottom: 13px solid $blue;
                    }
                }
                &::before {
                    border: 13px solid transparent;
                    border-bottom: 13px solid $blackOpacity0-9;
                }
            }
            &_bottom {
                bottom: 20%;
                &.-app-statistic__sort-button_bottom-active {
                    &:hover {
                        &::before {
                            filter: brightness(1);
                        }
                    }
                    &::before {
                        border: 13px solid transparent;
                        border-top: 13px solid $blue;
                    }
                }
                &::before {
                    border: 13px solid transparent;
                    border-top: 13px solid $blackOpacity0-9;
                }
            }
        }
    }
    &__chart {
        width: 100%;
        height: 85%;
    }
}
