$white: rgba(255, 255, 255, 1);
$blackOpacity0-9: rgba(0, 0, 0, 0.9);
$blackOpacity0-7: rgba(0, 0, 0, 0.7);
$screamingGreen: rgba(135, 253, 135, 1);
$screamingGreenOpacity0-8: rgba(135, 253, 135, 0.8);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property; 
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@include keyframes(blinkMap) {
    0% {
        @include opacity(0);
    }
    0% {
        @include opacity(1);
    }
}

:host {
    display: block;

    width: 100%;
    height: 100vh;
}

.-app-country-map {
    position: relative;

    width: 100%;
    height: 100%;

    @include animation('0.2s blinkMap forwards');
    &__chart {
        min-width: 100%;
        max-width: 100%;
        height: 100%;

        background-color: $blackOpacity0-9;
    }
    &__toggle {
        position: absolute;
        top: 2%;
        right: 5%;
        @include transform(translate(0%, 0%));

        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            @include  transition(0.3s);
            @include opacity(1);

            color: $white;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-size: 18px;
            &_left {
                padding-right: 10px;
            }
            &_right {
                padding-left: 10px;
            }
            &_globe-mode,
            &_map-mode {
                @include opacity(0.4);
            }
        }
        &-button {
            position: relative;
            z-index: 9000;

            width: 60px;
            height: 25px;

            @include  transition(0.3s);
            cursor: pointer;

            outline: none;
            border: 2px solid $white;
            border-radius: 30px;

            background-color: $blackOpacity0-9;
            &_globe-mode {
                &.-app-country-map__toggle-button::before {
                    left: 95%;
                    @include transform(translate(-100%, -50%));
                }
            }
            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: 5%;
                @include transform(translate(0%, -50%));

                width: 20px;
                height: 20px;

                @include  transition(0.3s);

                border-radius: 50%;
                background-color: $screamingGreen;
            }
        }
    }
    &__show-capitals {
        position: absolute;
        top: 2%;
        left: 5%;
        @include transform(translate(0%, 0%));

        display: flex;
        justify-content: center;
        align-items: center;
        &-title {
            padding-left: 10px;

            @include  transition(0.3s);
            @include opacity(0.4);

            color: $white;
            letter-spacing: 1.5px;
            font-weight: 600;
            font-size: 18px;
            &_capitals-mode {
                @include opacity(1);
            }
        }
        &-button {
            position: relative;
            z-index: 9000;

            width: 25px;
            height: 25px;

            cursor: pointer;

            outline: none;
            border: 2px solid $white;
            border-radius: 50%;

            background: transparent;
            &.-app-country-map__show-capitals-button_capitals-mode {
                &::before {
                    @include opacity(1);
                }
            }
            &::before {
                content: "";

                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));

                width: 17px;
                height: 17px;

                @include  transition(0.3s);
                @include opacity(0);

                border-radius: 50%;

                background-color: $screamingGreen;
            }
        }
    }
    &__info {
        position: absolute;
        bottom: 5%;
        left: 5%;

        width: 500px;
        &-title {
            width: 100%;
            padding: 30px 80px;
            box-sizing: border-box;

            @include  transition(0.3s);

            border: 2px solid $screamingGreenOpacity0-8;
            border-radius: 15px;
            background-color: $blackOpacity0-7;

            color: $white;
            text-align: center;
            letter-spacing: 1.5px;
            line-height: 1.2;
            font-size: 17px;
            font-weight: 600;
            &_info-mode {
                display: none;
            }
        }
        &_info-mode {
            width: 50px;
            height: 50px;
        }
        &-button {
            position: absolute;
            top: 5%;
            right: 5%;

            width: 50px;
            height: 50px;

            @include  transition(0.3s);
            cursor: pointer;

            outline: none;
            border: none;
            background: none;
            &_info-mode {
                left: 0%;
                &.-app-country-map__info-button::before {
                    content: "\f05a";
                    font-weight: 900;
                }
            }
            &::before {
                content: "\f057";
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));

                color: $screamingGreenOpacity0-8;
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-size: 24px;
                font-weight: 900;
            }
        }
    }
}
