:host {
    position: relative;

    display: flex;

    width: 100%;
    height: 100vh;
    &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100vh;

        background-image: url("src/assets/images/country-list/region-menu-bg.jpg");
        background-size: cover;
    }
}

.-app-region {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: scroll;

    width: 50%;
    height: 100vh;
    &__title,
    &__sub-title {
        width: 100%;

        margin: 0px;

        user-select: none;

        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        text-align: center;
        letter-spacing: 2.5px;
        font-weight: 800;
    }
    &__title {
        padding: 30px;

        font-size: 36px;
    }
    &__sub-title {
        padding: 30px;
        padding-top: 0px;

        font-size: 28px;
    }
    &__country-list {
        width: 100%;
        height: 80vh;
    }
    &__current-country {
        position: relative;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        height: 100vh;

        border-left: 2px solid white;

        background-color: rgba(0, 0, 0, 0.6);
    }
}
