:host {
    display: flex;

    width: 100%;
    height: 100%;
}

.-app-tree-category {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: 0.2s;

    &::after {
        content: "";

        position: fixed;
        top: 0;
        left: 120px;
        z-index: -9999;

        width: 100%;
        height: 100vh;

        background-image: url("src/assets/images/tree-list/tree-category-bg.jpg");
        background-size: cover;
    }
    &_tree-mode {
        width: 40%;
    }
    &__title {
        margin: 0px;
        padding-top: 50px;

        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
        color: white;
        font-size: 36px;
        letter-spacing: 4px;
    }
    &__product:not(:last-child) {
        position: relative;
        &::before {
            content: "";

            position: absolute;
            top: 87%;
            left: 50%;
            transform: translate(-50%, 0%);

            height: 100px;
            width: 4px;

            background-color: white;
        }
    }
    &__back-button {
        position: fixed;
        bottom: 10%;
        left: 10%;
        transform: translate(-50%, 0%);

        width: 60px;
        height: 60px;

        transition: 0.3s;
        cursor: pointer;
        opacity: 0;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
        border: 1px solid white;
        border-radius: 50%;

        background-color: rgba(8, 37, 8, 1);
        &:active {
            transform: translate(-50%, 2%);

            width: 65px;
            height: 65px;
        }
        &:hover {
            &::before {
                text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
            }
        }
        &::before {
            content: "\f053";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 0.3s;

            color: white;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
            font-size: 23px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
        &_tree-mode {
            opacity: 1;
        }
    }
}
