$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$blackOpacity0-9: rgba(0, 0, 0, 0.9);
$phthalocyanineGreenOpacity: rgba(8, 37, 8, 1);

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property; 
    transform: $property;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

:host {
    display: flex;

    width: 100%;
    height: 100%;
}

.-app-tree-category {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    @include  transition(0.2s);
    &::after {
        content: "";

        position: fixed;
        top: 0;
        left: 120px;
        z-index: -9999;

        width: 100%;
        height: 100vh;

        background-image: url('../../../../assets/images/tree-list/tree-category-bg.jpg');
        background-size: cover;
    }
    &_tree-mode {
        width: 40%;
    }
    &__title {
        margin: 0px;
        padding-top: 50px;

        color: $white;
        text-shadow: 2px 2px 8px $blackOpacity0-9;
        text-align: center;
        letter-spacing: 4px;
        font-size: 36px;
    }
    &__product:not(:last-of-type) {
        position: relative;
        &::before {
            content: "";

            position: absolute;
            top: 87%;
            left: 50%;
            @include transform(translate(-50%, 0%));

            height: 100px;
            width: 4px;

            background-color: $white;
        }
    }
    &__back-button {
        position: fixed;
        z-index: 9000;
        bottom: 10%;
        left: 10%;
        @include transform(translate(-50%, 0%));

        width: 60px;
        height: 60px;

        @include  transition(0.3s);
        cursor: pointer;
        @include opacity(0);

        border: 1px solid $white;
        border-radius: 50%;
        box-shadow: 0px 0px 8px $black;

        background-color: $phthalocyanineGreenOpacity;
        &:active {
            @include transform(translate(-50%, 2%));

            width: 65px;
            height: 65px;
        }
        &:hover {
            &::before {
                text-shadow: 2px 2px 6px $black;
            }
        }
        &::before {
            content: "\f053";
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            @include  transition(0.3s);

            color: $white;
            text-shadow: 0px 0px 8px $black;
            font-size: 23px;
            font-weight: 900;
            font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
        }
        &_tree-mode {
            @include opacity(1);
        }
    }
}
