:host {
    position: relative;

    width: 100%;
    height: 100vh;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0%;
        left: 0%;

        width: 100%;
        height: 100%;

        background-image: url("src/assets/images/not-found-page/not-found-page-bg.png");
        background-position: center;
        background-size: cover;
    }
}

@keyframes fromBottomToTopLetter {
    0% {
        bottom: 0%;
    }
    100% {
        bottom: 45%;
    }
}
.-app-not-found {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    color: #f5feff;
    &__title {
        z-index: -1;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        width: 100%;
        height: 60%;

        background: linear-gradient(180deg, rgb(176, 223, 230, 1), rgb(255, 255, 255, 1));

        &-letter-wrapper {
            position: relative;

            height: 100%;
            width: 150px;

            padding: 0px 10px;

            font-size: 250px;
            font-weight: 600;
            text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.6);
        }
        &-letter {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%);
            &_left {
                animation: 2s fromBottomToTopLetter 1s infinite alternate;
                animation-timing-function: ease-out;
            }
            &_middle {
                animation: 2s fromBottomToTopLetter 1.3s infinite alternate;
                animation-timing-function: ease-out;
            }
            &_right {
                animation: 2s fromBottomToTopLetter 0.7s infinite alternate;
                animation-timing-function: ease-out;
            }
        }
    }
    &__info {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        &-sub-title {
            width: 100%;

            padding-bottom: 20px;

            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            font-size: 28px;
            font-weight: 600;
        }
        &-button {
            padding: 20px 60px;

            transition: 0.3s;
            cursor: pointer;

            outline: none;
            border: 2px solid #f5feff;
            border-radius: 10px;

            background: transparent;

            color: #f5feff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 20px;
            font-weight: 600;
            &:hover {
                background-color: #f5feff;

                color: rgba(0, 0, 0, 0.8);
            }
        }
    }
}
