<div class="-app-not-found">
    <div class="-app-not-found__title">
        <div class="-app-not-found__title-letter-wrapper">
            <div class="-app-not-found__title-letter -app-not-found__title-letter_left">
                4
            </div>
        </div>
        <div class="-app-not-found__title-letter-wrapper">
            <div class="-app-not-found__title-letter -app-not-found__title-letter_middle">
                0
            </div>
        </div>
        <div class="-app-not-found__title-letter-wrapper">
            <div class="-app-not-found__title-letter -app-not-found__title-letter_right">
                4
            </div>
        </div>
    </div>
    <div class="-app-not-found__info">
        <div class="-app-not-found__info-sub-title">
            not found
        </div>
        <button 
            class="-app-not-found__info-button"
            (click)="goHome()">
            go home
        </button>
    </div>
    
 
</div>
