@keyframes menuLine {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
        transform: translate(-100%, 0%);
    }
}

:host {
    width: 100%;
    height: 100vh;
}

.-app-countries {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-image: url("src/assets/images/country-list/country-list-menu-bg.jpg");
    background-size: cover;
    &__start-menu {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 200px;
        height: 100px;

        &_menu-mode {
            transition: 0.4s;
            z-index: -1;
            opacity: 0;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 10%;
            left: 0%;

            width: 30%;
            height: 3px;

            animation: 1s menuLine alternate infinite;

            border-radius: 2px;

            background-color: rgba(255, 255, 255, 1);
        }
        &-title {
            width: 50%;

            transition: 0.2s;
            cursor: pointer;
            user-select: none;

            color: rgba(255, 255, 255, 1);
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
            text-align: center;
            letter-spacing: 2px;
            font-size: 24px;
            font-weight: 600;
            &:hover {
                filter: brightness(1.3);
                letter-spacing: 2.5px;
                font-size: 26px;
            }
            &_search-mode {
                display: none;
            }
        }
        &-search {
            position: relative;

            width: 50%;
            height: 100%;

            cursor: pointer;

            &::before {
                content: "\f002";

                position: absolute;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%);

                color: rgba(255, 255, 255, 1);
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-size: 26px;
                font-weight: 900;
            }
        }
    }
    &__menu {
        width: 100%;
        height: 100%;

        &_bg {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 10px;
            height: 10px;

            transition: 0.5s;
            opacity: 0;

            border-radius: 20%;

            background: rgba(0, 0, 0, 0.7);
            &-menu-mode {
                width: 100%;
                height: 100%;

                opacity: 1;

                border-radius: 0%;
            }
        }
        &-return {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            opacity: 0;
            transition: 1s;

            width: 50px;
            height: 50px;

            cursor: pointer;
            &_visible {
                left: 25%;
                opacity: 1;
            }
            &::before {
                content: "\f2ea";

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                color: rgba(255, 255, 255, 1);
                font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
                font-size: 20px;
                font-weight: 900;
            }
        }
        &-item {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 0.5s;
            opacity: 0;
            text-shadow: none;

            text-align: center;
            &_south-eastern-asia {
                width: 200px;
            }
            &_australia-oceania {
                width: 150px;
            }
            &_visible {
                opacity: 1;

                &-southern-asia,
                &-southern-africa,
                &-south-america {
                    transform: translate(-120%, 100%);
                }
                &-western-asia,
                &-western-europe,
                &-western-africa {
                    transform: translate(-175%, -50%);
                }
                &-central-asia,
                &-northern-europe,
                &-northern-africa,
                &-northern-america {
                    transform: translate(-50%, -200%);
                }
                &-eastern-asia,
                &-eastern-europe,
                &-eastern-africa,
                &-caribbean-america {
                    transform: translate(100%, -50%);
                }
                &-southern-europe {
                    transform: translate(-50%, 100%);
                }
                &-micronesia-oceania {
                    transform: translate(75%, -400%);
                }
                &-melanesia-oceania {
                    transform: translate(50%, -200%);
                }
                &-polynesia-oceania {
                    transform: translate(110%, 0%);
                }
                &-australia-oceania {
                    transform: translate(-150%, 0%);
                }
                &-middle-africa,
                &-central-america {
                    transform: translate(40%, 100%);
                }
                &-south-eastern-asia {
                    transform: translate(5%, 100%);
                }
            }
        }
        &-list {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            transition: 1s;
            opacity: 0;
            cursor: pointer;
            user-select: none;

            color: rgba(255, 255, 255, 1);
            letter-spacing: 2px;
            font-size: 30px;
            &_invisible {
                transition: 0.5s;
                &.-app-countries__menu-list {
                    opacity: 0;
                }
            }
            &:hover {
                filter: brightness(0.8);
            }
            &_asia {
                top: 20%;
                left: 80%;
                opacity: 1;
                &-menu-mode {
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
                }
            }
            &_europe {
                opacity: 1;
                &-menu-mode {
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
                }
            }
            &_africa {
                top: 80%;
                left: 20%;
                opacity: 1;
                &-menu-mode {
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
                }
            }
            &_oceania {
                top: 80%;
                left: 80%;
                opacity: 1;
                &-menu-mode {
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
                }
            }
            &_america {
                top: 20%;
                left: 20%;
                opacity: 1;
                &-menu-mode {
                    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}
